*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.errorMessage{
    margin: 2%;
    color: red;
    text-align: center;
}
/*------.menu-header------------*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.menu-header {
    width: -webkit-fill-available;
    background: rgba(16, 16, 16, 0.72);
    color: #ffffff;
    padding-top: 10px;
    min-height: 50px;
}

.menu-header .container #logo {
    float: left;
}

.menu-header .container #logo h1 {
    margin: 0px;
}

.searchContainer {
    text-align: center;
    margin: 1%;
}

.searchContainer h1,
.searchContainer p {
    padding-bottom: 10px;
    font-size: 0.9rem;
}

.userCardHeader {
    padding: 1%;
    margin: 0px;
    text-align: center;
}

.repoUserName {
    font-size: 0.9rem;
}

#searchUser {
    padding: 10px;
    font-size: 0.9rem;
    border: none;
    width: 40%;
    background: #f1f1f1;
}

#search {
    width: 15%;
    padding: 10px;
    background: #313131;
    color: white;
    border: none;
    cursor: pointer;
}

#search:hover {
    background: #000000;
}

#search::after {
    content: "";
    clear: both;
    display: table;
}

#user img {
    width: 100%;
    border-radius: 5px;
}

.userCard {
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
    float: left;
    width: 100%;
    display: block;
    padding: 1%;
    margin: 2%;
}

.title {
    color: grey;
    padding-bottom: 5%;
    font-size: 0.9rem;
}

.userName {
    padding-top: 5%;
    padding-bottom: 5%;
}

.userCard button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    margin-left: 8%;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
}

.userCard button:hover,
a:hover {
    opacity: 0.7;
}

.reposListItem:hover {
    box-shadow: 1px 1px #00000008, -2px 0px 0px 0px #85868821, 3px 3px #e9ebec;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

#user {
    float: left;
    width: 24%;
    margin-left: 1%;
}

#repos {
    float: right;
    width: 70%;
    padding: 1%;
    margin: 2%;
    padding-top: 0;
    margin-top: 0;
}


/* #reposList {
    float: left;
} */

.reposListItem {
    float: left;
    width: 45%;
    height: 50vh;
    list-style-type: none;
    margin: 1%;
    padding: 2%;
    border-bottom: 1px solid #afaaaa;
}

.reposDescription {
    font-size: 68%;
    padding-top: 2%;
    padding-bottom: 5%;
}

.reposName {
    color: #0366d6;
    text-decoration: none;
}

.repoInfo {
    padding-right: 10%;
}

i.fa.fa-code-fork {
    padding-bottom: 3%;
}

.committers {
    border-top: 1px solid #0000001a;
    padding-top: 5%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.committerImg {
    width: 25%;
    display: block;
    margin-top: 2%;
    border-radius: 5px;
}

.committerHtml {
    text-decoration: none;
    color: #6d1010;
    font-size: 0.9rem;
}

.committerBy {
    font-size: 0.9rem;
    margin-bottom: 1%;
    display: block;
    color: #b7b0ac;
    font-size: 0.7rem;
    text-decoration-line: underline;
}

.committerItem {
    float: left;
    width: 27%;
    padding: 1%;
    margin: 1% 2%;
    list-style-type: none;
    border-bottom: 1px solid #b7b0b2;
}
@media only screen and (max-width: 950px) {
    .reposListItem {
        height: 43vh;
    }
}
@media only screen and (max-width: 850px) {
    .reposListItem {
        width: 100%;
        height: auto;
    }
    #user {
        width: 30%;
    }
    #repos {
        width: 65%;
    }
    .userCard button {
        width: 100%;
    }
    .userCard button {
        margin-left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .reposListItem {
        height: 50vh;
    }
}

@media only screen and (max-width: 500px) {
    .reposListItem {
        height: auto;
    }
    .title {
        font-size: 0.7rem;
    }
    .userCard button {
        width: 100%;
        font-size: 0.7rem;
    }
    #search {
        width: 20%;
    }
    #searchUser {
        width: 50%;
    }
}
